.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  pointer-events: none;
  height: 20vmax;
  width: 20vmax;
}
